<template>
    <v-card
        :color="taskColor"
        dark
        link
        :to="`/tasks/${task.id}`"
        v-if="task"
    >
        <v-card-title class="subtitle-1" v-text="task.name"></v-card-title>
        <v-card-subtitle class="d-inline-block text-truncate" style="max-width: 95%;" v-text="task.description"></v-card-subtitle>
        <v-card-actions>
            <v-list-item class="grow px-1">
                <v-list-item-avatar 
                    link
                    color="grey darken-3 mr-1" 
                    :title="`Assigned to: ${task.user.name}`"                    
                >
                    <v-img
                        class="elevation-6"
                        :src="`${avatarsImageUrl}${task.user.avatar}`"
                        v-if="task.user.avatar"
                    ></v-img>
                </v-list-item-avatar>

                <v-row
                    align="center"
                    justify="end"
                >
                    <v-chip
                        :color="chipColor"
                        class="ma-3"
                        small
                        v-text="task.role.name"
                        >
                    </v-chip>
                    <v-icon class="mr-3" v-if="task.image">mdi-attachment</v-icon>
                    <span class="subheading" v-text="`${task.estimate}h`"></span>
                    <v-icon small class="mr-2">mdi-timer</v-icon>
                </v-row>
            </v-list-item>
        </v-card-actions>
    </v-card>
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        name: 'task',
        props: ['task'],
        computed: {
            ...mapGetters(['avatarsImageUrl']),
            taskColor() {
                switch(this.task.role.name) {
                    case 'Design':
                        return 'teal darken-1'
                        break;
                    case 'Frontend':
                        return 'orange darken-1'
                        break;
                    case 'Backend':
                        return 'green darken-1'
                        break;
                }
            },
            chipColor() {
                switch(this.task.role.name) {
                    case 'Design':
                        return 'teal darken-2'
                        break;
                    case 'Frontend':
                        return 'orange darken-2'
                        break;
                    case 'Backend':
                        return 'green darken-2'
                        break;
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
.v-avatar{
    margin-right: 5px;
}
</style>