<template>
  <div id="app">
    <router-view></router-view>    
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import { auth } from './auth'  

  export default {
    name: 'App',
    data: () => ({
      snackbar: false,
      snackbarMessage: ''
    }),
    computed: {
      ...mapGetters(['token'])
    },
    methods: {
      checkForValidToken() {
        if(this.token !== null) {
          this.axios.get('/user', {
            headers: {
              Authorization: `Bearer ${this.token}`,
            },
          })
          .then((response) => {
            console.log(response)
            this.$store.dispatch('setUser', response.data)
            auth.setUser(response.data)
          })
          .catch((error) => {
            console.log(error)
          })
        }
      }
    }
  }
</script>
