<template>
  <v-app id="inspire" dark>
    <v-navigation-drawer
      v-model="drawerRight"
      app  
      right      
    >
        <div class="pa-4">
            <v-subheader>Customize your dashboard</v-subheader>
            <div>
                <v-switch
                    v-model="themeSettings.darkMode"
                    color="primary"
                    @change="toggleDarkMode"
                    label="Dark mode"
                />
            </div>
            <div>
                <v-combobox
                    v-model="themeSettings.primary"
                    :items="colors"
                    label="Primary color"
                    outlined
                    dense
                    @change="themeColorChange()"
                >
                    <template v-slot:selection="data">
                        <v-chip
                            :color="data.item"
                            small
                        >                            
                        </v-chip>
                        {{ data.item }}
                    </template>
                    <template v-slot:item="data">
                        <v-chip
                            :color="data.item"
                            dark
                            label
                            small
                        >
                            {{ data.item }}
                        </v-chip>
                    </template>
                </v-combobox>
            </div>
            <div>
                <v-combobox
                    v-model="themeSettings.secondary"
                    :items="colors"
                    label="Secondary color"
                    outlined
                    dense
                    @change="themeColorChange()"
                >
                    <template v-slot:selection="data">
                        <v-chip
                            :color="data.item"
                            small
                        >                            
                        </v-chip>
                        {{ data.item }}
                    </template>
                    <template v-slot:item="data">
                        <v-chip
                            :color="data.item"
                            dark
                            label
                            small
                        >
                            {{ data.item }}
                        </v-chip>
                    </template>    
                </v-combobox>
            </div>
            <div>
                <v-combobox
                    v-model="themeSettings.accent"
                    :items="colors"
                    label="Accent color"
                    outlined
                    dense
                    @change="themeColorChange()"
                >
                    <template v-slot:selection="data">
                        <v-chip
                            :color="data.item"
                            small
                        >                            
                        </v-chip>
                        {{ data.item }}
                    </template>
                    <template v-slot:item="data">
                        <v-chip
                            :color="data.item"
                            dark
                            label
                            small
                        >
                            {{ data.item }}
                        </v-chip>
                    </template>
                </v-combobox>
            </div>
            <div>
                <v-combobox
                    v-model="themeSettings.error"
                    :items="colors"
                    label="Error color"
                    outlined
                    dense
                    @change="themeColorChange()"
                >
                    <template v-slot:selection="data">
                        <v-chip
                            :color="data.item"
                            small
                        >                            
                        </v-chip>
                        {{ data.item }}
                    </template>
                    <template v-slot:item="data">
                        <v-chip
                            :color="data.item"
                            dark
                            label
                            small
                        >
                            {{ data.item }}
                        </v-chip>
                    </template>
                </v-combobox>
            </div>
            <div>
                <v-combobox
                    v-model="themeSettings.info"
                    :items="colors"
                    label="Info color"
                    outlined
                    dense
                    @change="themeColorChange()"
                >
                    <template v-slot:selection="data">
                        <v-chip
                            :color="data.item"
                            small
                        >                            
                        </v-chip>
                        {{ data.item }}
                    </template>
                    <template v-slot:item="data">
                        <v-chip
                            :color="data.item"
                            dark
                            label
                            small
                        >
                            {{ data.item }}
                        </v-chip>
                    </template>
                </v-combobox>
            </div>
            <div>
                <v-combobox
                    v-model="themeSettings.success"
                    :items="colors"
                    label="Success color"
                    outlined
                    dense
                    @change="themeColorChange()"
                >
                    <template v-slot:selection="data">
                        <v-chip
                            :color="data.item"
                            small
                        >                            
                        </v-chip>
                        {{ data.item }}
                    </template>
                    <template v-slot:item="data">
                        <v-chip
                            :color="data.item"
                            dark
                            label
                            small
                        >
                            {{ data.item }}
                        </v-chip>
                    </template>
                </v-combobox>
            </div>
            <div>
                <v-combobox
                    v-model="themeSettings.warning"
                    :items="colors"
                    label="Warning color"
                    outlined
                    dense
                    @change="themeColorChange()"
                    prepend-item="dasa"
                >
                    <template v-slot:selection="data">
                        <v-chip
                            :color="data.item"
                            small
                        >                            
                        </v-chip>
                        {{ data.item }}
                    </template>
                    <template v-slot:item="data">
                        <v-chip
                            :color="data.item"
                            dark
                            label
                            small
                        >
                            {{ data.item }}
                        </v-chip>
                    </template>
                </v-combobox>
            </div>
            <div>
                <v-btn small class="primary" @click.prevent="resetTheme">Reset to default</v-btn>
            </div>
        </div>
    </v-navigation-drawer>

    <v-navigation-drawer
        v-model="drawer"
        :clipped="$vuetify.breakpoint.lgAndUp"
        app
    >
        <v-list dense>
            <v-list-item to="/">
                <v-list-item-action>
                    <v-icon>mdi-view-dashboard</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>
                        Dashboard
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item to="/profile">
                <v-list-item-action>
                    <v-icon>mdi-account</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>
                        Profile
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item to="/users">
                <v-list-item-action>
                    <v-icon>mdi-account-multiple</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>
                        Users
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item to="/projects">
                <v-list-item-action>
                    <v-icon>mdi-content-copy</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>
                        Projects
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item to="/notifications">
                <v-list-item-action>
                    <v-icon>mdi-bell</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>
                        Notifications
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item>
                <v-list-item-action>
                    <v-icon>mdi-settings</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>
                        Settings
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item @click.prevent="logout">
                <v-list-item-action>
                    <v-icon>mdi-logout</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>
                        Logout
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </v-navigation-drawer>

    <v-app-bar
        :clipped-left="$vuetify.breakpoint.lgAndUp"
        app
        color="primary"
        dark
    >
        <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
        <v-toolbar-title
            style="width: 300px"
            class="ml-0 pl-4"
        >
            <span class="hidden-sm-and-down">Dashboard</span>
        </v-toolbar-title>
        <v-autocomplete
            v-model="selectedProjectId"
            :items="projects"
            item-text="name"
            item-value="id"
            cache-items
            class="mx-4"
            flat
            hide-no-data
            hide-details
            label="Search for a project"
            solo-inverted
            @input="search"
        ></v-autocomplete>
        <v-spacer />
        <v-btn
            text 
            icon 
            color="dark"
            @click.stop="drawerRight = !drawerRight"
        >
            <v-icon>mdi-settings</v-icon>
        </v-btn>
    </v-app-bar>
    <v-content>
        <v-container fluid py-8 px-10>           
            <router-view></router-view>
        </v-container>
    </v-content>
    <v-snackbar
      v-model="snackbar"
      @snackbar="snackbarEventHandler"
      color="accent"
    >
      {{ snackbarMessage }}
      <v-btn
        color="accent darken-1"
        depressed
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>    
  </v-app>
</template>

<script>
    import { auth } from './../auth'
    import colors from 'vuetify/lib/util/colors'
    import { mapGetters } from 'vuex'
    import { EventBus } from './../eventBus.js'

    export default {
        data: () => ({
            dialog: false,
            drawer: null,
            drawerRight: false,
            projects: [],
            selectedProjectId: 0,
            colors: [],
            initCombobox: false,
            themeSettings: {
                darkMode: false,
                primary: '#1976D2',
                secondary: '#bdbdbd',
                accent: '#82B1FF',
                error: '#FF5252',
                info: '#2196F3',
                success: '#4CAF50',
                warning: '#FFC107'
            },
            snackbar: false,
            snackbarMessage: ''
        }),
        computed: {
            ...mapGetters(['token'])
        },
        beforeMount() {
            this.loadTheme()
        },
        mounted() {
            this.fetchColorsIntoArray()
            this.fetchProjects()
            EventBus.$on('snackbar', this.snackbarEventHandler)
        },
        methods: {
            fetchProjects() {
                this.axios.get('/projects', {
                    headers: {
                        Authorization: `Bearer ${this.token}`,
                    },
                })
                .then((response) => {
                    this.projects = response.data.projects
                })
                .catch(error => {
                    console.log(error)
                })
            },            
            logout() {
                this.axios.get('/logout', {
                    headers: {
                        Authorization: `Bearer ${this.token}`,
                    },
                })
                .then(response => {
                    this.$store.dispatch('setUser', null)
                    this.$store.dispatch('setToken', null)
                    this.$store.dispatch('setAuth', false)
                    localStorage.removeItem('user')
                    localStorage.removeItem('token')
                    this.$router.push('/login')
                })
                .catch(error => {
                    console.log('An error occurred: ', error)
                })                
            },
            fetchColorsIntoArray() {
                for(var i in colors){
                    for(var j in colors[i]){
                        this.colors.push(colors[i][j])
                    }
                }
            },
            toggleDarkMode() {
                this.$vuetify.theme.dark = this.themeSettings.darkMode
                this.themeColorChange()
            },
            themeColorChange() {
                this.$vuetify.theme.themes.dark.primary = this.themeSettings.primary
                this.$vuetify.theme.themes.dark.secondary = this.themeSettings.secondary
                this.$vuetify.theme.themes.dark.accent = this.themeSettings.accent
                this.$vuetify.theme.themes.dark.error = this.themeSettings.error
                this.$vuetify.theme.themes.dark.success = this.themeSettings.success
                this.$vuetify.theme.themes.dark.info = this.themeSettings.info
                this.$vuetify.theme.themes.dark.warning = this.themeSettings.warning
                this.$vuetify.theme.themes.light.primary = this.themeSettings.primary
                this.$vuetify.theme.themes.light.secondary = this.themeSettings.secondary
                this.$vuetify.theme.themes.light.accent = this.themeSettings.accent
                this.$vuetify.theme.themes.light.error = this.themeSettings.error
                this.$vuetify.theme.themes.light.success = this.themeSettings.success
                this.$vuetify.theme.themes.light.info = this.themeSettings.info
                this.$vuetify.theme.themes.light.warning = this.themeSettings.warning
                localStorage.setItem('themeSettings', JSON.stringify(this.themeSettings))
            },
            resetTheme() {
                this.themeSettings.darkMode = false
                this.$vuetify.theme.dark = false
                this.themeSettings = {
                    darkMode: false,
                    primary: '#1976D2',
                    secondary: '#bdbdbd',
                    accent: '#82B1FF',
                    error: '#FF5252',
                    info: '#2196F3',
                    success: '#4CAF50',
                    warning: '#FFC107'
                }
                this.themeColorChange()
            },
            loadTheme() {
                let localStorageThemeSettings = JSON.parse(localStorage.getItem('themeSettings'))
                if(localStorageThemeSettings !== null && typeof localStorageThemeSettings !== 'undefined') {
                    this.themeSettings = localStorageThemeSettings
                    this.themeColorChange()
                    this.$vuetify.theme.dark = this.themeSettings.darkMode
                }
            },
            search() {
                this.$router.push(`/projects/${this.selectedProjectId}`)
            },
            snackbarEventHandler(message) {
                this.snackbar = true
                this.snackbarMessage = message 
            }     
        }
    }
</script>