<template>
    <v-row>
        <v-col cols="12">
            <v-row>
                <v-col>
                    <v-card class="bordered-card">
                        <div class="d-flex flex-no-wrap align-center">
                            <v-avatar 
                                tile 
                                size="75"
                                color="primary"
                                class="ma-2"
                            >
                                <v-progress-circular
                                    :size="50"
                                    color="white"
                                    indeterminate
                                    v-if="statsLoading"
                                ></v-progress-circular>
                                <v-icon v-else color="white">mdi-content-copy</v-icon>
                            </v-avatar>
                            <div class="w-100">
                                <v-card-title class="pa-2 stats-title">Projects</v-card-title>
                                <v-card-subtitle class="pa-2">In total {{ stats.projects }}</v-card-subtitle>
                            </div>                            
                        </div>
                    </v-card>
                </v-col>
                <v-col>
                    <v-card class="bordered-card">
                        <div class="d-flex flex-no-wrap align-center">
                            <v-avatar 
                                tile 
                                size="75"
                                color="warning"
                                class="ma-2"
                            >
                                <v-progress-circular
                                    :size="50"
                                    color="white"
                                    indeterminate
                                    v-if="statsLoading"
                                ></v-progress-circular>
                                <v-icon v-else color="white">mdi-account</v-icon>
                            </v-avatar>
                            <div class="w-100">
                                <v-card-title class="pa-2 stats-title">Users</v-card-title>
                                <v-card-subtitle class="pa-2">In total {{ stats.users }}</v-card-subtitle>
                            </div>                            
                        </div>
                    </v-card>
                </v-col>                
                <v-col>
                    <v-card class="bordered-card">
                        <div class="d-flex flex-no-wrap align-center">
                            <v-avatar 
                                tile 
                                size="75"
                                color="accent"
                                class="ma-2"
                            >
                                <v-progress-circular
                                    :size="50"
                                    color="white"
                                    indeterminate
                                    v-if="statsLoading"
                                ></v-progress-circular>
                                <v-icon v-else color="white">mdi-account-card-details-outline</v-icon>
                            </v-avatar>
                            <div class="w-100">
                                <v-card-title class="pa-2 stats-title">User stories</v-card-title>
                                <v-card-subtitle class="pa-2">In total {{ stats.userStories }}</v-card-subtitle>
                            </div>                            
                        </div>
                    </v-card>
                </v-col>
                <v-col>
                    <v-card class="bordered-card">
                        <div class="d-flex flex-no-wrap align-center">
                            <v-avatar 
                                tile 
                                size="75"
                                color="success"
                                class="ma-2"
                            >
                                <v-progress-circular
                                    :size="50"
                                    color="white"
                                    indeterminate
                                    v-if="statsLoading"
                                ></v-progress-circular>
                                <v-icon v-else color="white">mdi-timer-sand</v-icon>
                            </v-avatar>
                            <div class="w-100">
                                <v-card-title class="pa-2 stats-title">Sprints</v-card-title>
                                <v-card-subtitle class="pa-2">Sprints {{ stats.sprints }}</v-card-subtitle>
                            </div>
                        </div>
                    </v-card>
                </v-col>
                <v-col>
                    <v-card class="bordered-card">
                        <div class="d-flex flex-no-wrap align-center">
                            <v-avatar 
                                tile 
                                size="75"
                                color="error"
                                class="ma-2"
                            >
                                <v-progress-circular
                                    :size="50"
                                    color="white"
                                    indeterminate
                                    v-if="statsLoading"
                                ></v-progress-circular>
                                <v-icon v-else color="white">mdi-card-text-outline</v-icon>
                            </v-avatar>
                            <div class="w-100">
                                <v-card-title class="pa-2 stats-title">Tasks</v-card-title>
                                <v-card-subtitle class="pa-2">In total {{ stats.tasks }}</v-card-subtitle>
                            </div>                            
                        </div>
                    </v-card>
                </v-col>
            </v-row>
        </v-col>
        <v-col cols="5">
            <v-card class="bordered-card">
                <v-list-item>
                    <v-list-item-avatar size="65" class="list-avatar" :style="`background-image: url('${avatarsImageUrl}${user.avatar}')`"></v-list-item-avatar>
                    <v-list-item-content>
                        <v-list-item-title class="headline" v-text="user.name"></v-list-item-title>
                        <v-list-item-subtitle v-text="user.role.name"></v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>

                <v-img :src="`${coversImageUrl}${user.cover}`" height="194"></v-img>

                <v-list-item three-line>
                    <v-list-item-content>
                        <v-list-item-title class="headline" v-text="user.created_at"></v-list-item-title>
                        <v-list-item-subtitle style="max-width: 100%;" class="d-inline-block text-truncate" v-text="user.bio"></v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>

                <v-card-actions>
                    <v-btn 
                        class="ml-2 my-1"
                        to="/profile" 
                        small 
                        color="primary" 
                        depressed
                    >Update</v-btn>
                </v-card-actions>
            </v-card>           
        </v-col>
        <v-col cols="7">           
            <v-card class="bordered-card">
                <v-list subheader>
                    <v-subheader>Latest Projects</v-subheader>
                    <v-divider></v-divider>
                    <template
                        v-for="(project, index) in projects"                     
                    >
                        <v-list-item                     
                            link
                            :key="project.name"
                            :to='`/projects/${project.id}`'                            
                        >                
                            <v-list-item-avatar v-if="project.avatar">
                                <v-img :src="project.avatar"></v-img>
                            </v-list-item-avatar>

                            <v-list-item-avatar                            
                                size="35"
                                color="accent"
                                v-else
                            >
                                <span  class="white--text" v-text="firstLetter(project.name)"></span>
                            </v-list-item-avatar> 

                            <v-list-item-content>
                                <v-list-item-title v-text="project.name"></v-list-item-title>
                                <v-list-item-subtitle>Deadline: {{ project.deadline }}</v-list-item-subtitle>
                            </v-list-item-content>

                            <v-list-item-icon>
                                
                            </v-list-item-icon>                    
                        </v-list-item>
                        <v-divider
                            v-if="index + 1 < projects.length"
                            :key="project.id"
                        ></v-divider>                        
                    </template>
                    <v-divider></v-divider>
                    <v-list-item>
                        <v-btn to="/projects" small color="primary" class="mt-2" depressed>View all</v-btn>
                    </v-list-item>
                </v-list>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
    import { mapGetters } from 'vuex'
    import colors from 'vuetify/lib/util/colors'

    export default {
        data: () => ({
            projects: [],
            stats: {
                projects: 0,
                users: 0,
                userStories: 0,
                sprints: 0,
                tasks: 0
            },
            statsLoading: true
        }),
        computed: {
            ...mapGetters(['avatarsImageUrl', 'coversImageUrl', 'user', 'token', 'colors']),
            createdAtDateFormat() {
                let date = new Date(this.user.created_at)
                return date.toLocaleDateString()
            }
        },
        mounted() {
            this.fetchStats()
            this.fetchProjects()
        },
        methods: {
            async fetchStats() {
                await this.axios.get('/stats', {
                    headers: {
                        Authorization: `Bearer ${this.token}`
                    }
                })
                .then(response => {
                    this.stats.projects = response.data.projects
                    this.stats.users = response.data.users
                    this.stats.userStories = response.data.userStories
                    this.stats.sprints = response.data.sprints
                    this.stats.tasks = response.data.tasks
                    this.statsLoading = false
                })
            },
            async fetchProjects() {
                await this.axios.get('/latest/projects', {
                    headers: {
                        Authorization: `Bearer ${this.token}`,
                    },
                })
                .then((response) => {
                    this.projects = response.data.projects
                })
                .catch(error => {
                    console.log(error)
                })
            },
            firstLetter(value) {
                return value.charAt(0)
            }
        }
    }
</script>

<style lang="scss" scoped>
.w-100{
    width: 100%;
}
.stats-title{
    font-size: 20px;
    line-height: normal;
}
.list-avatar{
    background-size: cover;
}
.bordered-card{
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: none;
}
@media (max-width: 1199px) {
    .stats-title{
        font-size: 16px;
    }
}
</style>