<template>
    <v-app id="inspire">
        <v-content>
            <v-container
                class="fill-height"
                fluid
            >
                <v-row
                align="center"
                justify="center"
                >
                    <v-col
                    cols="12"
                    sm="8"
                    md="4"
                    >
                        <h1 class="display-5 mb-5">Rrotrack <span class="font-weight-light">Login</span></h1>
                        <v-form @submit.prevent="login">
                            <v-text-field
                                label="Email"
                                filled
                                v-model="email"
                                type="email"
                                :loading="loading"
                            ></v-text-field>
                            <v-text-field
                                label="Password"
                                filled
                                v-model="password"
                                type="password"
                                :loading="loading"
                            ></v-text-field>
                            <v-spacer />
                            <v-btn type="submit" color="primary" depressed="">Login</v-btn>
                        </v-form>
                    </v-col>
                </v-row>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import { auth } from './../auth'

    export default {
        data: () => ({
            email: '',
            password: '',
            loading: false,
            error: ''
        }),
        methods: {
            validateEmail() {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(String(this.email).toLowerCase());
            },
            login() {
                this.loading = true
                if(this.email !== '' && this.password !== '') {
                    if(this.validateEmail()) {
                        this.axios.post('/login', {
                            email: this.email,
                            password: this.password,
                        })
                        .then(response => {
                            this.$store.dispatch('setUser', response.data.user)
                            this.$store.dispatch('setToken', response.data.token)
                            this.$store.dispatch('setAuth', true)
                            auth.setToken(response.data.token)
                            auth.setUser(response.data.user)
                            this.$router.push('/')
                        })
                        .catch(error => {
                            console.log('An error occurred: ', error)
                            this.loading = false
                        })
                    } else {
                        this.error = 'Not a valid email!'
                        this.loading = false
                    }
                } else {
                    this.error = 'Email and password are required!'
                    this.loading = false
                }
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>