<template>
    <v-row>
        <v-col cols="6">
            <v-card class="bordered-card">
                <v-card-text>
                    <div class="overline mb-4">New project</div>             
                    <v-text-field
                        v-model="name"
                        label="Name"
                    ></v-text-field>
                    <v-file-input
                        accept="image/png, image/jpeg, image/bmp, image/svg+xml"
                        label="Logo"
                        prepend-icon=""
                        @change="changeLogoHandler"
                    ></v-file-input>
                    <v-menu
                        ref="menu"
                        v-model="menu"
                        :close-on-content-click="false"
                        :return-value.sync="deadline"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                    >
                        <template v-slot:activator="{ on }">
                            <v-text-field
                                v-model="deadline"
                                label="Deadline"
                                readonly
                                v-on="on"
                            ></v-text-field>
                        </template>
                        <v-date-picker v-model="deadline" no-title scrollable>
                            <v-spacer></v-spacer>
                            <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                            <v-btn text color="primary" @click="$refs.menu.save(deadline)">OK</v-btn>
                        </v-date-picker>
                    </v-menu>
                    <v-row class="mx-0">
                        <v-btn 
                            small
                            color="success"
                            @click="createProject"
                        >Create</v-btn>
                        <v-spacer></v-spacer>
                        <v-btn
                            small
                            depressed
                            color="secondary"
                            to="/projects"
                        >Back to projects</v-btn>
                    </v-row>             
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>    
</template>

<script>
    import { mapGetters } from 'vuex'
    import { EventBus } from './../eventBus.js'

    export default {
        name: 'newProject',
        data: () => ({
            name: '',
            logo: '',
            deadline: '',
            menu: false
        }),
        computed: {
            ...mapGetters(['token'])
        },
        methods: {
            createProject() {
                let formData = new FormData()

                formData.append('name', this.name)
                formData.append('logo', this.logo)
                formData.append('deadline', this.deadline)

                this.axios.post('/projects', formData, {
                    headers: {
                        Authorization: `Bearer ${this.token}`
                    }
                })
                .then(response => {
                    EventBus.$emit('snackbar', response.data.message)
                    this.name = ''
                    this.logo = ''
                    this.deadline = ''
                    this.menu = false
                })
                .catch(error => {
                    EventBus.$emit('snackbar', error)
                })
            },
            changeLogoHandler(event) {
                this.logo = event
            }
        }
    }
</script>

<style lang="scss" scoped>
.bordered-card{
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: none;
}
.no-shadow{
    box-shadow: none;
}
</style>