<template>
    <v-row>
        <v-col cols="6">
            <v-card class="bordered-card">
                <v-list subheader>
                    <v-row class="ma-0 pr-3" justify="space-between" align="center">
                        <v-subheader>Notifications</v-subheader>
                        <div>
                            <v-btn small text class="mr-3" @click.prevent="markAllAsRead" v-if="unReadNotifications">Mark all as read</v-btn>
                            <v-btn small color="primary" @click.prevent="markAsRead" v-if="selectedNotifications.length > 0">Mark as read</v-btn>
                        </div>
                    </v-row>
                    <v-divider></v-divider>
                    <template
                        v-for="(notification, index) in notifications"                     
                    >
                        <v-list-item :key="notification.id">
                            <v-list-item-avatar color="secondary" v-if="notification.has_viewed">
                                <v-icon>mdi-bell-off</v-icon>
                            </v-list-item-avatar>

                            <v-list-item-avatar color="primary" v-else>
                                <v-icon>mdi-bell-ring</v-icon>
                            </v-list-item-avatar>

                            <v-list-item-content>
                                <v-list-item-title v-text="notification.message"></v-list-item-title>
                                <v-list-item-subtitle v-text="notification.created_at"></v-list-item-subtitle>
                            </v-list-item-content>

                            <v-list-item-icon v-if="!notification.has_viewed">
                                <v-checkbox
                                v-model="selectedNotifications"
                                :value="notification.id"
                                type="checkbox"
                                hide-details
                                class="mt-0"
                                ></v-checkbox>
                            </v-list-item-icon>                            
                        </v-list-item>
                        <v-divider
                            v-if="index + 1 < notifications.length"
                            :key="index"
                        ></v-divider>                     
                    </template>
                </v-list>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
    import { mapGetters } from 'vuex'
    export default {
        name: 'notifications',
        data: () => ({
            notifications: [],
            selectedNotifications: [],
        }),
        computed: {
            ...mapGetters(['token']),
            unReadNotifications() {
                let match = false
                this.notifications.forEach((notification) => {
                    if(notification.has_viewed == 0) {
                        match = true
                        return match
                    }
                })
                return match
            }
        },
        mounted() {
            this.fetchNotifications()
        },
        methods: {
            async fetchNotifications() {
                await this.axios.get('/notifications', {
                    headers: {
                        Authorization: `Bearer ${this.token}`,
                    },
                })
                .then(response => {
                    this.notifications = response.data.notifications
                })
                .catch(error => {
                    console.log('Something then wrong: '+error)
                })
            },
            markAsRead() {
                this.readNotification(this.selectedNotifications)
            },
            markAllAsRead() {
                let ids = []
                this.notifications.forEach((notification) => {
                    if(notification.has_viewed == 0) {
                        ids.push(notification.id)
                    }
                })
                this.readNotification(ids)
            },
            readNotification(notificationIds) {
                const data = { notificationIds }
                this.axios.post('/notifications/mark-as-read', data, {
                    headers: {
                        Authorization: `Bearer ${this.token}`,
                    },
                })
                .then(response => {
                    this.notifications = response.data.notifications
                    this.selectedNotifications = []
                })
                .catch(error => {
                    console.log('Something then wrong: '+error)
                })
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>