<template>
    <v-row>
        <v-col cols="12">
            <div class="banner" :style="`background-image: url('${coversImageUrl}${cover}');`">
                <div class="avatar-container" :style="`background-image: url('${avatarsImageUrl}${avatar}');`"></div>
                <div class="text-container">
                    <h1 class="h1" v-text="name"></h1>
                    <p class="bio" v-text="bio"></p>
                    <v-icon class="mr-2">mdi-calendar-arrow-right</v-icon>
                    <span class="subheading mr-2" v-text="created_at"></span>
                    <span class="mr-2">·</span>
                    <span class="subheading" v-text="role.name"></span>
                </div>
            </div>
        </v-col>
        <v-col cols="6">
            <v-card class="bordered-card">
                <v-card-text>
                    <v-subheader class="px-0">Profile details</v-subheader>
                    <v-divider class="mb-6"></v-divider>
                    <v-text-field
                        v-model="name"
                        :counter="40"
                        label="Name"
                        prepend-icon="mdi-account"
                    ></v-text-field>
                    <v-textarea
                        v-model="bio"
                        :counter="255"
                        label="Bio"
                        :no-resize="true"
                        prepend-icon="mdi-account-details"
                    ></v-textarea>
                    <v-file-input
                        accept="image/png, image/jpeg, image/bmp"
                        placeholder="Pick an avatar"
                        prepend-icon="mdi-camera"
                        label="Avatar"
                        @change="changeAvatarHandler"
                    ></v-file-input>
                    <v-file-input
                        accept="image/png, image/jpeg, image/bmp"
                        placeholder="Pick a cover image"
                        prepend-icon="mdi-image-size-select-actual"
                        label="Cover"
                        @change="changeCoverHandler"
                    ></v-file-input>
                    <v-btn @click.prevent="updateProfile" small color="primary" class="mt-2" depressed>Save changes</v-btn>
                </v-card-text>
            </v-card>
        </v-col>
        <v-col cols="6">
            <v-card class="bordered-card">
                <v-card-text>
                    <v-subheader class="px-0">Change password</v-subheader>
                    <v-divider class="mb-6"></v-divider>
                    <v-text-field
                        :messages="['Password should have at least 6 characters']"
                        v-model="password"
                        :counter="40"
                        label="Password"
                        type="password"
                    ></v-text-field>
                    <v-text-field
                        v-model="confirmPassword"
                        :counter="40"
                        label="Cofirm your password"
                        type="password"
                    ></v-text-field>
                    <v-btn @click.prevent="updatePassword" small color="primary" class="mt-2" depressed>Save password</v-btn>
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
    import { mapGetters } from 'vuex'
    export default {
        data: () => ({
            id: '',
            name: '',
            bio: '',
            email: '',
            created_at: '',
            role: '',
            password: '',
            confirmPassword: '',
            avatar: '',
            cover: '',
            newAvatar: '',
            newCover: ''
        }),
        computed: {
            ...mapGetters(['coversImageUrl', 'avatarsImageUrl', 'token'])
        },
        mounted() {
            this.fetchUserData()
        },
        methods: {
            async fetchUserData() {
                await this.axios.get('/user', {
                    headers: {
                        Authorization: `Bearer ${this.token}`,
                    },
                })
                .then(response => {
                    this.id = response.data.user.id
                    this.name = response.data.user.name
                    this.bio = response.data.user.bio
                    this.created_at = response.data.user.created_at
                    this.role = response.data.user.role
                    this.email = response.data.user.email
                    this.avatar = response.data.user.avatar
                    this.cover = response.data.user.cover
                })
                .catch(error => {
                    console.log('Something then wrong: '+error)
                })
            },
            updateProfile() {
                let formData = new FormData()

                formData.append('name', this.name)
                formData.append('bio', this.bio)
                formData.append('email', this.email)
                formData.append('avatar', this.newAvatar)
                formData.append('cover', this.newCover)

                this.axios.post(`/user/update/${this.id}`, formData, 
                {
                    headers: {
                        Authorization: `Bearer ${this.token}`,
                    },
                })
                .then(response => {
                    this.id = response.data.user.id
                    this.name = response.data.user.name
                    this.bio = response.data.user.bio
                    this.email = response.data.user.email
                    this.avatar = response.data.user.avatar
                    this.cover = response.data.user.cover
                })
                .catch(error => {
                    console.log('Something then wrong: '+error)
                })
            },
            updatePassword() {
                if(this.password != '' && this.confirmPassword != '') {
                    if(this.password == this.confirmPassword) {
                        const data = {
                            password: this.password,
                            confirm_password: this.confirmPassword
                        }
                        this.axios.post(`/user/update/password/${this.id}`, data, 
                        {
                            headers: {
                                Authorization: `Bearer ${this.token}`,
                            },
                        })
                        .then(response => {
                            console.log(response.data.message)
                        })
                        .catch(error => {
                            console.log('Something then wrong: '+error)
                        })
                    } else {
                        console.log('Password doesnt match!')
                    }
                } else {
                    console.log('Both password fields are required!')
                }
            },
            changeAvatarHandler(event) {
                this.newAvatar = event
            },
            changeCoverHandler(event) {
                this.newCover = event
            }
        }
    }
</script>

<style lang="scss" scoped>
.banner{
    position: relative;
    display: flex;
    min-height: 250px;
    margin: -55px -40px 0;
    padding: 45px 30px 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0.49) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0.49) 0%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0.49) 0%,rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d000000', endColorstr='#00000000',GradientType=0 );
    }
    .text-container{
        position: relative;
        color: #fff;
        z-index: 1;
    }
    .avatar-container{
        position: relative;
        width: 100px;
        height: 100px;
        min-width: 100px;
        min-height: 100px;
        margin-right: 25px;
        border-radius: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        border: 2px solid #fff;
        overflow: hidden;
        z-index: 1;
    }
    .h1{
        font-size: 42px;
        letter-spacing: 0.1em;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
    }
    .bio{
        max-width: 50%;
        color: #fff;
    }
    i{
        color: inherit;
    }
}
.bordered-card{
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: none;
}
</style>