<template>
    <v-row>
        <v-col cols="12">
            <v-card class="bordered-card">
                <v-toolbar class="custom-toolbar">
                    <v-toolbar-title>Projects</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn 
                        icon
                        class="hidden-xs-only mr-2"    
                        @click="showSearchInput = !showSearchInput"
                    >
                        <v-icon v-if="!showSearchInput">mdi-magnify</v-icon>
                        <v-icon v-if="showSearchInput">mdi-close</v-icon>
                    </v-btn>
                    <v-text-field
                        v-model="search"
                        label="Search"
                        single-line
                        hide-details
                        v-if="showSearchInput"
                    ></v-text-field>
                    <v-btn
                        color="success"
                        depressed
                        small
                        class="ml-2"
                        to="/projects/new"
                    >New project</v-btn>
                </v-toolbar>
                <v-data-table
                    :headers="headers"
                    :items="projects"
                    :search="search"
                    @click:row="rowClickEventHandler"
                    :loading="loading"
                    loading-text="Loading... Please wait"
                >
                    <template v-slot:item.name="{ item }">
                        <v-list-item-subtitle>{{ item.name }}</v-list-item-subtitle>
                    </template>
                    <template v-slot:item.users="{ item }">
                        <v-list-item-subtitle>{{ item.users.length }}</v-list-item-subtitle>
                    </template>
                    <template v-slot:item.userStories="{ item }">
                        <v-list-item-subtitle>{{ item.user_stories.length }}</v-list-item-subtitle>
                    </template>
                    <template v-slot:item.sprints="{ item }">
                        <v-list-item-subtitle>{{ item.sprints.length }}</v-list-item-subtitle>
                    </template>
                    <template v-slot:item.number_of_tasks="{ item }">
                        <v-list-item-subtitle>{{ item.number_of_tasks }}</v-list-item-subtitle>
                    </template>
                </v-data-table>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
    import { mapGetters } from 'vuex'
    import { EventBus } from './../eventBus.js'

    export default {
        data: () => ({
            search: '',
            headers: [
                { text: 'Id', value: 'id' },
                { text: 'Name', value: 'name' },
                { text: 'Users', value: 'users' },
                { text: 'User stories', value: 'userStories' },
                { text: 'Sprints', value: 'sprints' },
                { text: 'Tasks', value: 'number_of_tasks' },
                { text: 'Created_at', value: 'created_at' },
                { text: 'Deadline', value: 'deadline' },
            ],
            projects: [],
            showSearchInput: false,
            loading: true
        }),
        computed: {
            ...mapGetters(['token'])
        },
        mounted() {
            this.fetchProjects()
        },
        methods: {
            fetchProjects() {
                this.axios.get('/projects/collection', {
                    headers: {
                        Authorization: `Bearer ${this.token}`,
                    },
                })
                .then((response) => {
                    this.projects = response.data.projects
                    this.loading = false
                })
                .catch(error => {
                    EventBus.$emit('snackbar', error)
                })
            },
            rowClickEventHandler(row) {
                this.$router.push(`/projects/${row.id}`)
            }
        }
    }
</script>

<style lang="scss" scoped>
.bordered-card{
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: none;
}
.custom-toolbar{
    box-shadow: none;
}
</style>