<template>
    <v-row>
        <v-col cols="6">
            <v-card class="bordered-card" v-if="!loading">
                <v-card-text>
                    <div class="overline mb-4">Update project</div>             
                    <v-row
                        class="my-5"
                        align="center"
                        justify="center"
                        no-gutters
                    >
                        <v-img :src="`${projectsImageUrl}${logo}`" style="max-height: 100px;" contain></v-img>
                    </v-row>                
                    <v-text-field
                        v-model="name"
                        label="Name"
                    ></v-text-field>
                    <v-file-input
                        class="mb-4"
                        accept="image/png, image/jpeg, image/bmp, image/svg+xml"
                        label="Logo"
                        prepend-icon=""
                        persistent-hint
                        hint="Leave it blank if you don't want to change it"
                        @change="changeLogoHandler"
                    ></v-file-input>
                    <v-menu
                        ref="menu"
                        v-model="menu"
                        :close-on-content-click="false"
                        :return-value.sync="deadline"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                    >
                        <template v-slot:activator="{ on }">
                            <v-text-field
                                class="mb-4"
                                v-model="deadline"
                                label="Deadline"
                                readonly
                                v-on="on"
                                persistent-hint
                                hint="Y-m-d"
                            ></v-text-field>
                        </template>
                        <v-date-picker v-model="deadline" no-title scrollable>
                            <v-spacer></v-spacer>
                            <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                            <v-btn text color="primary" @click="$refs.menu.save(deadline)">OK</v-btn>
                        </v-date-picker>
                    </v-menu>
                    <v-row class="mx-0">
                        <v-btn 
                            small
                            color="success"
                            @click="updateProject"
                        >Save</v-btn>
                        <v-spacer></v-spacer>
                        <v-btn
                            small
                            depressed
                            color="secondary"
                            :to="`/projects/${id}`"
                        >Back to {{ name }}</v-btn>
                    </v-row>             
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>    
</template>

<script>
    import { mapGetters } from 'vuex'
    import { EventBus } from './../eventBus.js'

    export default {
        name: 'projectUpdate',
        data: () => ({
            id: 0,
            name: '',
            logo: '',
            newLogo: '',
            deadline: '',
            menu: false,
            loading: true
        }),
        computed: {
            ...mapGetters(['token', 'projectsImageUrl'])
        },
        mounted() {
            this.fetchProject()
        },
        methods: {
            async fetchProject() {
                let id = this.$route.params.id                
                await this.axios.get(`/projects/${id}`, {
                    headers: {
                        Authorization: `Bearer ${this.token}`,
                    },
                })
                .then(response => {
                    this.id = response.data.project.id
                    this.name = response.data.project.name
                    this.deadline = response.data.project.deadline_at
                    this.logo = response.data.project.logo
                    this.loading = false
                })
                .catch(error => {
                    EventBus.$emit('snackbar', error)
                })
            },
            updateProject() {
                let formData = new FormData()

                formData.append('name', this.name)
                formData.append('deadline', this.deadline)

                if(this.newLogo != '') {
                    formData.append('logo', this.newLogo)
                }

                formData.append('_method', 'PATCH')

                this.axios.post(`/projects/${this.id}`, formData, {
                    headers: {
                        Authorization: `Bearer ${this.token}`
                    }
                })
                .then(response => {
                    this.id = response.data.project.id
                    this.name = response.data.project.name
                    this.deadline = response.data.project.deadline_at
                    this.logo = response.data.project.logo
                    EventBus.$emit('snackbar', response.data.message)
                })
                .catch(error => {
                    EventBus.$emit('snackbar', error)
                })
            },
            changeLogoHandler(event) {
                this.newLogo = event
            }
        }
    }
</script>

<style lang="scss" scoped>
.bordered-card{
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: none;
}
.no-shadow{
    box-shadow: none;
}
</style>