<template>
    <v-row>
        <v-col cols="12" v-if="!loading">
            <v-card class="bordered-card">
                <v-list-item three-line>
                    <v-list-item-avatar
                        class="mt-6 pa-1"
                        size="65"
                        tile
                        color="transparent"
                        v-if="project.logo"
                    >
                        <v-img :src="`${projectsImageUrl}${project.logo}`" contain></v-img>
                    </v-list-item-avatar>
                    <v-list-item-avatar
                        class="mt-6"
                        size="65"
                        color="accent"
                        v-else
                    >
                        <span class="headline white--text" v-text="firstLetter(project.name)"></span>
                    </v-list-item-avatar>
                    <v-list-item-content>
                        <div class="overline mb-4">Project Details</div>
                        <v-list-item-title class="headline mb-1" v-text="project.name"></v-list-item-title>
                        <v-list-item-subtitle>Created at: {{ project.created_at }}</v-list-item-subtitle>
                    </v-list-item-content>                    
                </v-list-item>                
                <v-divider></v-divider>
                <v-card-actions>
                    <v-chip
                        class="mx-1"
                        outlined
                        v-text="`User stories ${project.user_stories.length}`"
                    ></v-chip>
                    <v-chip
                        class="mx-1"
                        outlined
                        v-text="`Sprints ${project.sprints.length}`"
                    ></v-chip>
                    <v-chip
                        class="mx-1"
                        outlined
                        v-text="`Tasks ${project.number_of_tasks}`"
                    ></v-chip>
                    <v-chip
                        class="mx-1"
                        outlined
                        v-text="`Users ${project.users.length}`"
                    ></v-chip>
                    <v-btn
                        class="ml-auto"
                        color="accent"
                        small
                        depressed
                        :to="`/projects/update/${project.id}`"
                    >Edit</v-btn>
                </v-card-actions>
            </v-card>
        </v-col>
        <v-col md="6" lg="4">
            <v-card class="bordered-card">
                <v-list subheader>
                    <v-subheader>User Stories</v-subheader>
                    <v-divider></v-divider>
                    <template
                        v-for="(story, index) in project.user_stories"                     
                    >                        
                        <v-list-item                     
                            link
                            :key="story.name"
                            :to='`/userstories/${story.id}`'                            
                        >
                            <v-list-item-content>
                                <v-list-item-title v-text="story.name"></v-list-item-title>
                            </v-list-item-content>                 
                        </v-list-item>
                        <v-divider
                            v-if="index + 1 < project.user_stories.length"
                            :key="story.id"
                        ></v-divider>                  
                    </template>
                    <v-divider></v-divider>
                    <v-list-item>
                        <v-btn small color="success" class="mt-2" depressed @click="storySheet = !storySheet">New</v-btn>
                        <v-spacer/>
                        <v-btn :to="`/projects/${project.id}/userstories`" small color="primary" class="mt-2" depressed>View all</v-btn>
                    </v-list-item>
                </v-list>
            </v-card>
        </v-col>
        <v-col md="6" lg="4">
            <v-card class="bordered-card">
                <v-list subheader>
                    <v-subheader>Sprints</v-subheader>
                    <v-divider></v-divider>
                    <template
                        v-for="(sprint, index) in project.sprints"
                    >                        
                        <v-list-item                     
                            link
                            :key="sprint.name"
                            :to='`/sprints/${sprint.id}`'                            
                        >
                            <v-list-item-content>                                
                                <v-list-item-title>
                                    <v-icon class="mr-1" color="success" v-if="sprint.active">mdi-calendar-check</v-icon> 
                                    <v-icon class="mr-1" color="error" v-else>mdi-calendar-remove</v-icon> 
                                    {{ sprint.name }}
                                </v-list-item-title>
                            </v-list-item-content>                 
                        </v-list-item>
                        <v-divider
                            v-if="index + 1 < project.sprints.length"
                            :key="sprint.id"
                        ></v-divider>
                    </template>
                    <v-divider></v-divider>
                    <v-list-item>
                        <v-btn small color="success" class="mt-2" depressed @click="showSprintSheet">New</v-btn>
                        <v-spacer/>
                        <v-btn :to="`/projects/${project.id}/sprints`" small color="primary" class="mt-2" depressed>View all</v-btn>
                    </v-list-item>
                </v-list>
            </v-card>
        </v-col>
        <v-col md="6" lg="4">
            <v-card class="bordered-card">
                <v-list subheader>
                    <v-subheader>Users</v-subheader>
                    <v-divider></v-divider>
                    <template
                        v-for="(user, index) in project.users"
                    >                        
                        <v-list-item
                            :key="user.name"                                                        
                        >
                            <v-list-item-avatar v-if="user.avatar">
                                <v-img :src="`${avatarsImageUrl}${user.avatar}`"></v-img>
                            </v-list-item-avatar>
                            <v-list-item-avatar                            
                                size="35"
                                color="secondary"
                                v-else
                            ></v-list-item-avatar> 
                            <v-list-item-content>                                
                                <router-link :to='`/users/${user.id}`' class="user-name-link">
                                    <v-list-item-title color="accent" v-text="user.name"></v-list-item-title>
                                </router-link>
                                <v-list-item-subtitle v-text="`${user.email} | ${user.role.name}`"></v-list-item-subtitle>
                            </v-list-item-content> 
                            <v-list-item-action>
                                <v-btn icon title="Remove user from project" @click="detachUserEventHandler(user.id)">
                                    <v-icon color="grey lighten-1">mdi-close-box</v-icon>
                                </v-btn>
                            </v-list-item-action>
                        </v-list-item>
                        <v-divider
                            v-if="index + 1 < project.users.length"
                            :key="user.id"
                        ></v-divider>
                    </template>
                    <v-divider></v-divider>
                    <v-list-item>
                        <v-btn small color="success" class="mt-2" depressed @click="attachUsersEventHandler">Add</v-btn>
                        <v-spacer/>
                        <v-btn :to="`/projects/${project.id}/users`" small color="primary" class="mt-2" depressed>View all</v-btn>
                    </v-list-item>
                </v-list>
            </v-card>
        </v-col>
        <!-- Story sheet -->
        <v-bottom-sheet v-model="storySheet">
            <v-sheet class="text-center" height="200px">
                <v-row
                    class="mb-8"
                    justify="center"
                    align="center"
                    no-gutters
                >
                    <v-col md="6">
                        <div class="d-flex justify-space-between">
                            <div class="flex-grow-1">
                                <v-text-field class="mt-8 mr-2" label="Describe your user story..." v-model="storyName"></v-text-field>
                            </div>
                            <div class="flex-grow-0">
                                <v-text-field class="mt-8 ml-2" label="Story size..." v-model="storySize"></v-text-field>
                            </div>
                        </div>
                        <div class="d-flex">
                            <v-btn small color="success" depressed @click="addStory">Save</v-btn>
                            <v-spacer/>
                            <v-btn depressed small outlined color="success" @click="storySheet = !storySheet">close</v-btn>                            
                        </div>
                    </v-col>
                </v-row>                               
            </v-sheet>
        </v-bottom-sheet>
        <!-- Sprint sheet -->
        <v-bottom-sheet v-model="sprintSheet">
            <v-sheet class="text-center px-5" height="600px">
                <v-row
                    class="mb-8"
                    justify="center"
                    align="center"
                    no-gutters
                >
                    <v-col md="10" lg="6" xl="4">
                        <div class="d-flex justify-space-between">
                            <v-text-field class="mt-8 mr-2" label="Sprint id" v-model="sprintName"></v-text-field>
                        </div>
                        <div class="d-flex justify-space-between mb-4">
                            <div>
                                <div class="overline">Start date</div>
                                <v-date-picker color="primary" v-model="sprintStartDate" :show-current="true"></v-date-picker>
                            </div>
                            <div>
                                <div class="overline">End date</div>
                                <v-date-picker color="orange darken-2" v-model="sprintEndDate" :show-current="true"></v-date-picker>
                            </div>
                        </div>
                        <div class="d-flex">
                            <v-btn small color="success" depressed @click="addSprint">Save</v-btn>
                            <v-spacer/>
                            <v-btn depressed small outlined color="success" @click="sprintSheet = !sprintSheet">close</v-btn>                            
                        </div>
                    </v-col>
                </v-row>                               
            </v-sheet>
        </v-bottom-sheet>
        <!-- Attach users sheet -->
        <v-bottom-sheet v-model="attachUsersSheet">
            <v-sheet class="text-center px-5" height="150px">
                <v-row
                    class="mb-8"
                    justify="center"
                    align="center"
                    no-gutters
                >
                    <v-col md="10" lg="6" xl="4" class="mt-5">
                        <v-select
                            v-model="attachNewUsers"
                            :items="notAttachedUsers"
                            chips
                            item-value="id"
                            item-text="name"
                            label="Users"
                            multiple
                        ></v-select>
                        <div class="d-flex">
                            <v-btn small color="success" depressed @click="attachUsers" :disabled="attachNewUsers.length == 0">Save</v-btn>
                            <v-spacer/>
                            <v-btn depressed small outlined color="success" @click="attachUsersSheet = !attachUsersSheet">close</v-btn>                            
                        </div>
                    </v-col>
                </v-row>                               
            </v-sheet>
        </v-bottom-sheet>
    </v-row>
</template>

<script>
    import { mapGetters } from 'vuex'
    import { EventBus } from './../eventBus.js'


    export default {
        data: () => ({
            project: [],
            notAttachedUsers: [],
            storyName: '',
            storySize: '',
            sprintName: '',
            sprintStartDate: '',
            sprintEndDate: '',
            attachNewUsers: [],
            storySheet: false,
            sprintSheet: false,
            attachUsersSheet: false,
            loading: true
        }),
        computed: {
            ...mapGetters(['token', 'colors', 'projectsImageUrl', 'avatarsImageUrl']),
        },
        mounted() {
            this.fetchProject()
        },
        methods: {
            async fetchProject() {
                let id = this.$route.params.id                
                await this.axios.get(`/projects/${id}`, {
                    headers: {
                        Authorization: `Bearer ${this.token}`,
                    },
                })
                .then(response => {
                    this.project = response.data.project
                    this.loading = false
                })
                .catch(error => {
                    EventBus.$emit('snackbar', error)
                })
            },
            fetchNotAttachedUsers() {
                this.axios.get(`/projects/not-attached-users/${this.project.id}`, {
                    headers: {
                        Authorization: `Bearer ${this.token}`,
                    },
                })
                .then(response => {
                    this.notAttachedUsers = response.data.users
                })
                .catch(error => {
                    EventBus.$emit('snackbar', error)
                })
            },          
            addStory() {
                const data = {
                    name: this.storyName,
                    size: this.storySize,
                    project_id: this.project.id
                }
                this.axios.post('/userstories', data, {
                    headers: {
                        Authorization: `Bearer ${this.token}`,
                    },
                })
                .then(response => {
                    this.project.user_stories.push(response.data.user_story)
                    this.storyName = ''
                    this.storySize = ''
                    this.storySheet = false
                })
                .catch(error => {
                    EventBus.$emit('snackbar', error)
                })
            },
            addSprint() {
                const data = {
                    name: this.sprintName,
                    start_date: this.sprintStartDate,
                    end_date: this.sprintEndDate,
                    project_id: this.project.id
                }
                this.axios.post('/sprints', data, {
                    headers: {
                        Authorization: `Bearer ${this.token}`,
                    },
                })
                .then(response => {
                    this.project.sprints.push(response.data.sprint)
                    this.sprintStartDate = ''
                    this.sprintEndDate = ''
                    this.sprintSheet = false
                })
                .catch(error => {
                    EventBus.$emit('snackbar', error)
                })
            },
            showSprintSheet() {
                this.sprintSheet = true
                this.sprintName = `Sprint(${this.firstLetter(this.project.name)})-${this.makeid(3)}`
            },
            firstLetter(value) {    
                return value.charAt(0)
            },
            randomColor() {
                return this.colors[Math.floor(Math.random() * this.colors.length)]
            },
            makeid(length) {
                var result = ''
                var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789'
                var charactersLength = characters.length
                for ( var i = 0; i < length; i++ ) {
                    result += characters.charAt(Math.floor(Math.random() * charactersLength))
                }
                return result
            },
            detachUserEventHandler(id) {
                const data = {
                    user_id: id
                }
                
                this.axios.post(`/projects/detach-user/${this.project.id}`, data, {
                    headers: {
                        Authorization: `Bearer ${this.token}`,
                    }
                })
                .then(response => {
                    const index = this.project.users.findIndex(comment => comment.id == id)
                    if (index !== undefined) {
                        this.project.users.splice(index, 1)
                    }
                    EventBus.$emit('snackbar', response.data.message)
                    this.notAttachedUsers = []
                })
                .catch(error => {
                    EventBus.$emit('snackbar', error)
                })
            },
            attachUsersEventHandler() {
                if(this.notAttachedUsers.length == 0) { 
                    this.fetchNotAttachedUsers()
                }
                this.attachUsersSheet = true
            },
            attachUsers() {
                const data = {
                    users: this.attachNewUsers
                }
                this.axios.post(`/projects/attach-users/${this.project.id}`, data, {
                    headers: {
                        Authorization: `Bearer ${this.token}`,
                    },
                })
                .then(response => {
                    this.notAttachedUsers = []
                    this.project.users = []
                    this.project.users = response.data.users
                    this.attachUsersSheet = false
                    EventBus.$emit('snackbar', response.data.message)
                })
                .catch(error => {
                    EventBus.$emit('snackbar', error)
                })
            }
        }
    }
</script>

<style lang="scss" scoped>
.bordered-card{
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: none;
}
.avatar-container{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin-right: 25px;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    border: 2px solid #fff;
    overflow: hidden;
    .text{
        font-size: 48px;
    }
}
.h1{
    font-size: 42px;
    letter-spacing: 0.1em;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}
.user-name-link{
    text-decoration: none;
    color: inherit;
    &:hover{
        text-decoration: underline;
    }
}
</style>