<template>
    <v-row v-if="!loading">
        <v-col cols="12">
            <v-card class="bordered-card">
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-subtitle v-text="sprint.project_name"></v-list-item-subtitle>
                        <v-list-item-title class="headline mb-3" v-text="sprint.name"></v-list-item-title>
                        <v-list-item-subtitle>
                            <v-icon class="mr-1" color="success" v-if="sprint.active">mdi-calendar-check</v-icon> 
                            <v-icon class="mr-1" color="error" v-else>mdi-calendar-remove</v-icon>
                            {{ sprint.start_date }} - {{ sprint.end_date }}
                        </v-list-item-subtitle>
                    </v-list-item-content>                    
                </v-list-item>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-chip
                        class="mx-1"
                        outlined
                        v-text="`Users stories ${sprint.user_stories.length}`"
                    ></v-chip>
                    <v-chip
                        class="mx-1"
                        outlined
                        v-text="`Total tasks ${sprint.user_stories.length}`"
                    ></v-chip>
                    <v-btn
                        class="ml-auto"
                        color="accent"
                        small
                        depressed
                        v-if="sprint.active"
                        @click="userStoriesSheet = true"
                    >Add user stories</v-btn>
                </v-card-actions>           
            </v-card>
        </v-col>

        <!-- User stories sheet -->
        <v-bottom-sheet v-model="userStoriesSheet">
            <v-sheet class="text-center pa-5" :fullscreen="true">
                <v-row
                    class="mb-5"
                    justify="center"
                    align="center"
                    no-gutters
                >
                    <v-col md="10" lg="6" xl="4" class="mt-5">
                        <v-select
                            v-model="selectedUserStories"
                            :items="notAttachedUserStories"
                            chips
                            item-value="id"
                            item-text="name"
                            label="User story"
                            :deletable-chips="true"
                            multiple
                        ></v-select>
                        <div class="d-flex">
                            <v-btn small color="success" depressed @click="addUserStoryToSprint">Save</v-btn>
                            <v-spacer/>
                            <v-btn depressed small outlined color="success" @click="userStoriesSheet = !userStoriesSheet">close</v-btn>                            
                        </div>
                    </v-col>
                </v-row>                               
            </v-sheet>
        </v-bottom-sheet>
    </v-row>
</template>

<script>
    import { mapGetters } from 'vuex'
    import { EventBus } from './../eventBus.js'
    
    export default {
        name: 'sprintDetail',
        data: () => ({
            sprint: [],
            selectedUserStories: [],
            notAttachedUserStories: [],
            userStoriesSheet: false,
            loading: true
        }),
        computed: {
            ...mapGetters(['token'])
        },
        mounted() {
            this.fetchSprint()
        },
        methods: {
            async fetchSprint() {
                let id = this.$route.params.id
                this.axios.get(`/sprints/${id}`, {
                    headers: {
                        Authorization: `Bearer ${this.token}`
                    }
                })
                .then(response => {
                    this.sprint = response.data.sprint
                    this.loading = false
                    this.fetchNotAttachedUserStories()
                })
                .catch(error => {
                    EventBus.$emit('snackbar', error)
                })
            },
            fetchNotAttachedUserStories() {
                this.axios.get(`/sprints/not-attached-userstories/${this.sprint.id}`, {
                    headers: {
                        Authorization: `Bearer ${this.token}`
                    }
                })
                .then(response => {
                    this.notAttachedUserStories = response.data.user_stories
                })
                .catch(error => {
                    EventBus.$emit('snackbar', error)
                })
            },
            addUserStoryToSprint() {
                const data = {
                    user_stories: this.selectedUserStories
                }
                this.axios.post(`/sprints/add-usertories/${this.sprint.id}`, data, {
                    headers: {
                        Authorization: `Bearer ${this.token}`
                    }
                })
                .then(response => {
                    EventBus.$emit('snackbar', response.data.message)
                    this.sprint = response.data.sprint
                    this.userStoriesSheet = false
                    this.selectedUserStories = []
                    this.fetchNotAttachedUserStories()
                })
                .catch(error => {
                    EventBus.$emit('snackbar', error)
                })
            }
        }
    }
</script>

<style lang="scss" scoped>
.bordered-card{
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: none;
}
</style>