<template>
    <v-row>
        <v-col cols="6">
            <div class="overline mb-2" v-text="'Task review'"></div>
            <v-card 
                dark
                class="bordered-card white--text" 
                :color="taskColor"
            >
                <v-list-item three-line>
                    <v-list-item-content>                        
                        <v-list-item-title class="headline mb-1" v-text="name"></v-list-item-title>
                        <v-list-item-subtitle v-text="description"></v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>     
                <v-divider></v-divider>
                <v-card-actions>
                    <v-chip
                        pill
                        link
                        :color="chipColor"
                        v-if="assignedUser.avatar"
                        :title="`Assigned to: ${assignedUser.name}`"
                        :to="`/users/${assignedUser.id}`"
                    >
                        <v-avatar left>
                            <v-img
                                class="elevation-6"
                                :src="`${avatarsImageUrl}${assignedUser.avatar}`"                            
                            ></v-img>
                        </v-avatar>
                        {{ assignedUser.name }}
                    </v-chip>
                    <v-chip
                        class="mx-2"
                        :color="chipColor"
                        v-text="`Esitmate ${estimate}h`"
                    ></v-chip>
                    <v-chip
                        v-text="role.name"
                        :color="chipColor"
                    ></v-chip>
                    <v-btn
                        text
                        small
                        class="ml-auto"
                        @click="previewImageEventHandler(`${tasksImageUrl}/${image}`)"
                    >
                        <v-icon>mdi-attachment</v-icon>
                    </v-btn>
                </v-card-actions> 
            </v-card>
            <!-- form card -->
            <v-card class="bordered-card mt-4">
                <v-card-text>
                    <div class="overline mb-4" v-text="'Task update'"></div>
                    <v-text-field
                        v-model="name"
                        :counter="40"
                        label="Name"
                    ></v-text-field>
                    <v-textarea
                        v-model="description"
                        :counter="255"
                        label="Description"
                        :no-resize="true"
                    ></v-textarea>
                    <v-row>
                        <v-col>
                            <v-text-field
                                v-model="estimate"
                                label="Estimate in hours"
                                type="number"
                                max="8"
                            ></v-text-field>
                        </v-col>
                        <v-col>
                            <v-combobox
                                v-model="role"
                                :items="taskRoles"
                                item-value="id"
                                item-text="name"
                                label="Task type"
                            ></v-combobox>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-combobox
                                v-model="assignedUser"
                                :items="users"
                                item-value="id"
                                item-text="name"
                                label="Assign to"
                            ></v-combobox>
                        </v-col>
                        <v-col>
                            <v-file-input
                                accept="image/png, image/jpeg, image/bmp"
                                prepend-icon=""
                                label="Task image"
                                @change="imageTaskEventHandler"
                            ></v-file-input>
                        </v-col>
                    </v-row>                   
                    <v-btn @click.prevent="updateTask" small color="primary" class="mt-2" depressed v-if="!taskUpdated">Save changes</v-btn>
                </v-card-text>
            </v-card>
        </v-col>
        <v-col cols="6">
            <div class="overline mb-2" v-text="'Comments'"></div>
            <v-card class="bordered-card">
                <v-btn small color="success" class="ma-2" @click="addCommentSheet = !addCommentSheet">New comment</v-btn>
                <template v-if="comments.length > 0">
                    <div v-for="(comment, index) in comments" :key="index">
                        <v-btn 
                            class="remove-comment-icon" 
                            icon 
                            color="white" 
                            v-if="comment.user.id == user.id"
                            @click="deleteCommentEventHandler(comment.id)"
                        >
                            <v-icon>mdi-close</v-icon>
                        </v-btn>
                        <v-card-title class="py-1" v-text="comment.user.name"></v-card-title>
                        <v-card-text>
                            <v-row>
                                <v-col cols="3">
                                    <v-img @click="previewImageEventHandler(`${commentsImageUrl}/${comment.image}`)"
                                    :src="`${commentsImageUrl}/${comment.image}`"
                                    ></v-img>
                                </v-col>
                                <v-col cols="9">                        
                                    <div class="grey--text" v-text="comment.created_at"></div>
                                    <div v-text="comment.text"></div>
                                </v-col>
                            </v-row>                        
                        </v-card-text>
                        <v-divider></v-divider>
                    </div>
                </template>
                <template v-else>
                    <v-card-text>No comments</v-card-text>
                </template>            
            </v-card>
        </v-col>
        <v-bottom-sheet v-model="addCommentSheet">
            <v-sheet class="text-center" height="300px">
                <v-row
                    class="mb-8"
                    justify="center"
                    align="center"
                    no-gutters
                >
                    <v-col md="4">
                        <v-row align="end">
                            <v-col sm="12">
                                <v-file-input
                                    accept="image/png, image/jpeg, image/bmp"
                                    prepend-icon=""
                                    label="Image"
                                    @change="imageCommentEventHandler"
                                ></v-file-input>
                                <v-textarea 
                                    label="Your comment" 
                                    v-model="newCommentText" 
                                    :counter="500"
                                ></v-textarea>
                            </v-col>
                        </v-row>
                        <div class="d-flex">
                            <v-btn small color="success" depressed @click="addComment">Save</v-btn>
                            <v-spacer/>
                            <v-btn depressed small outlined color="success" @click="addCommentSheet = false">close</v-btn>                            
                        </div>
                    </v-col>
                </v-row>                               
            </v-sheet>
        </v-bottom-sheet>
        <v-bottom-sheet v-model="deleteCommentConfirmationSheet">
            <v-sheet class="text-center pt-4" height="175px">
                <v-row
                    class="mb-8"
                    justify="center"
                    align="center"
                    no-gutters
                >
                    <v-col sm="12" md="4" justify="between">
                        <div class="py-3 mt-6">Confirm this action?</div>
                        <v-btn
                            class="mx-4"
                            color="primary"
                            @click="deleteComment"
                        >Yes</v-btn>
                        <v-btn
                            class="mx-4"
                            color="red"
                            @click="deleteCommentConfirmationSheet = !deleteCommentConfirmationSheet"
                        >Cancel</v-btn>
                    </v-col>
                </v-row>
            </v-sheet>
        </v-bottom-sheet>
        <v-overlay
            opacity="0.95"
            :value="commentImageOverlay"
        >
            <v-row align="center" justify="center">
                <v-col md="8" class="text-right">
                    <v-btn
                        icon
                        color="white"
                        class="mb-4"
                        @click="commentImageOverlay = false"
                    >
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <img
                        v-if="previewCommentImage"
                        :src="previewCommentImage"
                        class="image-preview"
                    />
                </v-col>
            </v-row>                            
        </v-overlay>
    </v-row>
</template>

<script>
    import { mapGetters } from 'vuex'
    import { EventBus } from './../eventBus.js'

    export default {
        name: 'taskDetail',
        data: () => ({
            id: '',
            name: '',
            description: '',
            estimate: '',
            image: '',
            updatedImage: '',
            role: '',
            assignedUser: '',
            comments: [],
            taskRoles: [],
            users: [],
            taskUpdated: false,
            addCommentSheet: false,
            newCommentText: '',
            newCommentImage: '',
            commentImageOverlay: false,
            previewCommentImage: '',
            deleteCommentConfirmationSheet: false,
            deleteCommentId: 0
        }),
        computed: {
            ...mapGetters(['token', 'avatarsImageUrl', 'commentsImageUrl', 'tasksImageUrl', 'user']),
            taskColor() {
                switch(this.role.name) {
                    case 'Design':
                        return 'teal darken-1'
                        break;
                    case 'Frontend':
                        return 'orange darken-1'
                        break;
                    case 'Backend':
                        return 'green darken-1'
                        break;
                }
            },
            chipColor() {
                switch(this.role.name) {
                    case 'Design':
                        return 'teal darken-2'
                        break;
                    case 'Frontend':
                        return 'orange darken-2'
                        break;
                    case 'Backend':
                        return 'green darken-2'
                        break;
                }
            }
        },
        mounted() {
            this.fetchTask()
        },
        methods: {
            async fetchTask() {
                let id = this.$route.params.id
                await this.axios.get(`/tasks/${id}`, {
                    headers: {
                        Authorization: `Bearer ${this.token}`,
                    },
                })
                .then(response => {
                    this.id = response.data.task.id
                    this.name = response.data.task.name
                    this.description = response.data.task.description
                    this.image = response.data.task.image
                    this.role = response.data.task.role
                    this.estimate = response.data.task.estimate
                    this.assignedUser = response.data.task.user
                    this.comments = response.data.task.comments
                    this.fetchTaskRoles()
                    this.fetchUsers()
                })
                .catch(error => {
                    EventBus.$emit('snackbar', error)
                })
            },
            fetchTaskRoles() {
                this.axios.get(`/taskroles`, {
                    headers: {
                        Authorization: `Bearer ${this.token}`,
                    },
                })
                .then(response => {
                    this.taskRoles = response.data.task_roles
                })
                .catch(error => {
                    console.log('Something went wrong: '+error)
                })
            },
            fetchUsers() {
                this.axios.get(`/users`, {
                    headers: {
                        Authorization: `Bearer ${this.token}`,
                    },
                })
                .then(response => {
                    this.users = response.data.users
                })
                .catch(error => {
                    console.log('Something went wrong: '+error)
                })
            },
            updateTask() {
                let formData = new FormData()

                formData.append('name', this.name)
                formData.append('description', this.description)
                formData.append('image', this.updatedImage)
                formData.append('estimate', this.estimate)
                formData.append('task_role_id', this.role.id)
                formData.append('user_id', this.assignedUser.id)
                formData.append('_method', 'PATCH')
                
                this.axios.post(`/tasks/${this.id}`, formData, {
                    headers: {
                        Authorization: `Bearer ${this.token}`,
                    },
                })
                .then(response => {
                    EventBus.$emit('snackbar', response.data.message)
                    this.taskUpdated = true
                })
                .catch(error => {
                    EventBus.$emit('snackbar', error)
                })
            },
            addComment() {
                let formData = new FormData()

                formData.append('text', this.newCommentText)
                formData.append('image', this.newCommentImage)
                formData.append('task_id', this.id)

                this.axios.post(`/comments`, formData, {
                    headers: {
                        Authorization: `Bearer ${this.token}`,
                    },
                })
                .then(response => {
                    EventBus.$emit('snackbar', response.data.message)
                    this.comments.push(response.data.comment)
                    this.newCommentText = ''
                    this.newCommentImage = ''
                    this.addCommentSheet = false
                })
                .catch(error => {
                    EventBus.$emit('snackbar', error)
                })
            },
            imageCommentEventHandler(event) {
               this.newCommentImage = event 
            },
            imageTaskEventHandler(event) {
                this.updatedImage = event
            },
            previewImageEventHandler(image) {
                this.previewCommentImage = image
                this.commentImageOverlay = true
            },
            deleteCommentEventHandler(id) {
                this.deleteCommentId = id
                this.deleteCommentConfirmationSheet = true
            },
            deleteComment() {
                this.axios.delete(`/comments/${this.deleteCommentId}`,
                {
                    headers: {
                        Authorization: `Bearer ${this.token}`
                    }
                })
                .then(response => {
                    const index = this.comments.findIndex(comment => comment.id == this.deleteCommentId)
                    if (index !== undefined) {
                        this.comments.splice(index, 1)
                    }
                    this.deleteCommentConfirmationSheet = false
                    EventBus.$emit('snackbar', response.data.message)
                    this.deleteCommentId = 0
                })
                .catch(error => {
                    EventBus.$emit('snackbar', error)
                })
            }
        }
    }
</script>

<style lang="scss" scoped>
.bordered-card{
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: none;
}
.remove-comment-icon{
    position: absolute;
    top: 10px;
    right: 10px;
}
.image-preview{
    max-width: 100%;
    max-height: 80vh;
}
</style>