<template>
    <v-row>
        <v-col cols="12">
            <div class="banner" :style="`background-image: url('${coversImageUrl}${user.cover}');`">
                <div class="avatar-container" :style="`background-image: url('${avatarsImageUrl}${user.avatar}');`"></div>
                <div class="text-container">
                    <h1 class="h1" v-text="user.name"></h1>
                    <p class="bio" v-text="user.bio"></p>
                    <v-icon class="mr-2">mdi-calendar-arrow-right</v-icon>
                    <span class="subheading mr-2" v-text="user.created_at"></span>
                    <span class="mr-2">·</span>
                    <span class="subheading" v-text="user.role.name"></span>
                </div>
            </div>
        </v-col>
    </v-row>
</template>

<script>
import { mapGetters } from 'vuex'
    export default {
        name: 'userDetail',
        data: () => ({
            user: {}
        }),
        computed: {
            ...mapGetters(['avatarsImageUrl', 'coversImageUrl', 'token'])
        },
        mounted() {
            this.fetchUser()
        },
        methods: {
            async fetchUser() {
                let id = this.$route.params.id
                await this.axios.get(`/users/${id}`, {
                    headers: {
                        Authorization: `Bearer ${this.token}`
                    }
                })
                .then(response => {
                    this.user = response.data.user
                    this.user.self = response.data.self
                })
                .catch(error => {
                    console.log('Something went wrong: '+error)
                })
            }
        }
    }
</script>

<style lang="scss" scoped>
.banner{
    position: relative;
    display: flex;
    height: 250px;
    margin: -55px -40px -90px;
    padding: 45px 30px 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0.49) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0.49) 0%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0.49) 0%,rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d000000', endColorstr='#00000000',GradientType=0 );
    }
    .text-container{
        position: relative;
        color: #fff;
        z-index: 1;
    }
    .avatar-container{
        position: relative;
        width: 100px;
        height: 100px;
        margin-right: 25px;
        border-radius: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        border: 2px solid #fff;
        overflow: hidden;
        z-index: 1;
    }
    .h1{
        font-size: 42px;
        letter-spacing: 0.1em;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
    }
    .bio{
        color: #fff;
    }
    i{
        color: inherit;
    }
}
.bordered-card{
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: none;
}
</style>