<template>
    <v-row>
        <v-col>
            <v-card class="bordered-card">
                <v-toolbar class="custom-toolbar">
                    <v-toolbar-title>Users</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn 
                        icon
                        class="hidden-xs-only mr-2"    
                        @click="showSearchInput = !showSearchInput"
                    >
                        <v-icon v-if="!showSearchInput">mdi-magnify</v-icon>
                        <v-icon v-if="showSearchInput">mdi-close</v-icon>
                    </v-btn>
                    <v-text-field
                        v-model="search"
                        label="Search"
                        single-line
                        hide-details
                        v-if="showSearchInput"
                    ></v-text-field>
                    <v-btn
                        color="success"
                        depressed
                        small
                        class="ml-2"
                        to="/projects/new"
                        v-if="user.role.id == 1"
                    >New user</v-btn>
                </v-toolbar>
                <v-data-table
                    :headers="headers"
                    :items="users"
                    :search="search"
                    :loading="loading"
                    loading-text="Loading... Please wait"
                >
                    <template v-slot:item.name="{ item }">
                        <v-list-item-subtitle>{{ item.name }}</v-list-item-subtitle>
                    </template>
                    <template v-slot:item.users="{ item }">
                        <v-list-item-subtitle>{{ item.email }}</v-list-item-subtitle>
                    </template>
                    <template v-slot:item.userStories="{ item }">
                        <v-list-item-subtitle>{{ item.role.name }}</v-list-item-subtitle>
                    </template>
                    <template v-slot:item.sprints="{ item }">
                        <v-list-item-subtitle>{{ item.created_at }}</v-list-item-subtitle>
                    </template>
                    <template v-slot:item.functions="{ item }" v-if="user.role.id == 1">
                        <v-list-item-subtitle v-if="item.id != user.id">
                            <v-btn
                                icon
                                class="mr-2"
                                color="accent"
                                :to="`/users/edit/${item.id}`"
                            >
                                <v-icon>mdi-square-edit-outline</v-icon>
                            </v-btn>
                            <v-btn
                                icon
                                class="mr-2"
                                color="accent"
                                @click="deleteUserEventHandler(item.id)"
                            >
                                <v-icon>mdi-trash-can-outline</v-icon>
                            </v-btn>
                        </v-list-item-subtitle>
                    </template>
                </v-data-table>
            </v-card>            
        </v-col>
        <v-bottom-sheet v-model="deleteUserConfirmationSheet">
             <v-sheet class="text-center pa-5" :fullscreen="true">
                <v-row
                    class="mb-8"
                    justify="center"
                    align="center"
                    no-gutters
                >
                    <v-col sm="12" md="4" justify="between">
                        <div class="py-3 mt-6">Confirm this action?</div>
                        <v-btn
                            class="mx-4"
                            color="primary"
                            @click="deleteUser"
                        >Yes</v-btn>
                        <v-btn
                            class="mx-4"
                            color="red"
                            @click="deleteUserConfirmationSheet = !deleteUserConfirmationSheet"
                        >Cancel</v-btn>
                    </v-col>
                </v-row>
            </v-sheet>
        </v-bottom-sheet>
    </v-row>
</template>

<script>
    import { mapGetters } from 'vuex'
    import { EventBus } from './../eventBus.js'

    export default {
        name: 'users',
        data: () => ({
            users: [],
            headers: [
                { text: 'Id', value: 'id' },
                { text: 'Name', value: 'name' },
                { text: 'Email', value: 'email' },
                { text: 'Role', value: 'role.name' },
                { text: 'Member since', value: 'created_at' },
                { text: 'Functions', value: 'functions' },
            ],
            search: '',
            showSearchInput: false,
            deleteUserConfirmationSheet: false,
            deleteUserId: 0,
            loading: true
        }),
        computed: {
            ...mapGetters(['baseImageUrl', 'token', 'user'])            
        },
        mounted() {
            this.fetchUsers()
        },
        methods: {
            async fetchUsers() {
                const vue = this
                await this.axios.get('/users', {
                    headers: {
                        Authorization: `Bearer ${this.token}`,
                    },
                })
                .then((response) => {
                    this.users = response.data.users
                    this.loading = false
                })
            },
            deleteUserEventHandler(id) {
                this.deleteUserId = id
                this.deleteUserConfirmationSheet = true
            },
            deleteUser() {
                this.axios.get(`/user/delete/${this.deleteUserId}`, {
                    headers: {
                        Authorization: `Bearer ${this.token}`
                    }
                })
                .then(response => {
                    this.deleteUserConfirmationSheet = false
                    EventBus.$emit('snackbar', response.data.message)
                })
                .catch(error => {
                    EventBus.$emit('snackbar', error.message)
                })
            }
        }
    }
</script>

<style lang="scss" scoped>
.bordered-card{
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: none;
}
.custom-toolbar{
    box-shadow: none;
}
</style>