<template>
    <v-row>
        <v-col cols="12">
            <v-card class="bordered-card">
                <v-list-item three-line>
                    <v-list-item-content>
                        <div class="overline" v-text="story.project_name"></div>
                        <v-list-item-title class="headline mb-1" v-text="story.name"></v-list-item-title>
                        <v-list-item-subtitle>Size: {{ story.size }}</v-list-item-subtitle>
                    </v-list-item-content>  
                </v-list-item>      
            </v-card>
        </v-col>
        <v-col cols="12">
            <v-card class="bordered-card px-4 py-2">
                <div class="d-flex justify-space-between align-center">
                    <div class="overline">Tasks</div>
                    <v-btn small color="success" depressed @click="taskSheet = !taskSheet">New</v-btn>
                </div>
                <v-row>
                    <v-col cols="3" v-for="(task, index) in story.tasks" :key="index">
                        <task-card :task="task"/>
                    </v-col>
                </v-row>
            </v-card>
        </v-col>
        <!-- new task sheet -->
        <v-bottom-sheet v-model="taskSheet">
            <v-sheet class="text-center" height="400px">
                <v-row
                    class="mb-8"
                    justify="center"
                    align="center"
                    no-gutters
                >
                    <v-col md="6">
                        <v-row align="end">
                            <v-col md="8">
                                <v-text-field label="Task name" v-model="taskName"></v-text-field>
                            </v-col>
                            <v-col md="4">
                                <v-text-field type="number" label="Estimation" v-model="taskEstimate"></v-text-field>
                            </v-col>
                            <v-col md="12">
                                <v-textarea label="Task Description" v-model="taskDescription"></v-textarea>
                            </v-col>
                            <v-col md="4">
                                <v-combobox
                                    v-model="taskUserId"
                                    :items="users"
                                    item-value="id"
                                    item-text="name"
                                    label="Assign a user"
                                ></v-combobox>
                            </v-col>
                            <v-col md="4">
                                <v-file-input
                                    accept="image/png, image/jpeg, image/bmp"
                                    prepend-icon=""
                                    label="Task image"
                                    @change="imageTaskEventHandler"
                                ></v-file-input>
                            </v-col>
                            <v-col md="4">
                                <v-combobox
                                    v-model="taskRoleId"
                                    :items="taskRoles"
                                    item-value="id"
                                    item-text="name"
                                    label="Task type"
                                ></v-combobox>
                            </v-col>
                        </v-row>
                        <div class="d-flex">
                            <v-btn small color="success" depressed @click="addTask">Save</v-btn>
                            <v-spacer/>
                            <v-btn depressed small outlined color="success" @click="taskSheet = !taskSheet">close</v-btn>                            
                        </div>
                    </v-col>
                </v-row>                               
            </v-sheet>
        </v-bottom-sheet>
    </v-row>
</template>

<script>
    import { mapGetters } from 'vuex'
    import taskCard from '@/components/taskCard.vue'

    export default {
        name: 'userStoryDetail',
        data: () => ({
            story: [],
            users: [],
            taskRoles: [],
            taskName: '',
            taskDescription: '',
            taskEstimate: '',
            taskImage: '',
            taskUserId: '',
            taskRoleId: '',
            taskSheet: false,
            loading: true
        }),
        components: {
            taskCard
        },
        computed: {
            ...mapGetters(['token'])
        },
        mounted() {
            this.fetchUserStory()      
        },
        methods: {
            async fetchUserStory() {
                let id = this.$route.params.id
                await this.axios.get(`/userstories/${id}`, {
                    headers: {
                        Authorization: `Bearer ${this.token}`,
                    },
                })
                .then(response => {
                    this.story = response.data.story
                    this.loading = false
                    this.fetchUsers()
                    this.fetchTaskRoles()
                })
                .catch(error => {
                    console.log('Something went wrong: '+error)
                })
            },
            fetchUsers() {
                this.axios.get(`/users`, {
                    headers: {
                        Authorization: `Bearer ${this.token}`,
                    },
                })
                .then(response => {
                    this.users = response.data.users
                })
                .catch(error => {
                    console.log('Something went wrong: '+error)
                })
            },
            fetchTaskRoles() {
                this.axios.get(`/taskroles`, {
                    headers: {
                        Authorization: `Bearer ${this.token}`,
                    },
                })
                .then(response => {
                    this.taskRoles = response.data.task_roles
                })
                .catch(error => {
                    console.log('Something went wrong: '+error)
                })
            },
            addTask() {
                let formData = new FormData()

                formData.append('name', this.taskName)
                formData.append('description', this.taskDescription)
                formData.append('estimate', this.taskEstimate)
                formData.append('image', this.taskImage)
                formData.append('user_story_id', this.story.id)
                formData.append('project_id', this.story.project_id)
                formData.append('user_id', this.taskUserId.id)
                formData.append('task_role_id', this.taskRoleId.id)

                this.axios.post(`/tasks`, formData, {
                    headers: {
                        Authorization: `Bearer ${this.token}`,
                    },
                })
                .then(response => {
                    this.story.tasks.push(response.data.task)
                    this.taskName = ''
                    this.taskDescription = ''
                    this.taskEstimate = ''
                    this.taskUserId.id = ''
                    this.taskRoleId.id = ''
                    this.taskSheet = false
                })
                .catch(error => {
                    console.log('Something went wrong: '+error)
                })
            },
            imageTaskEventHandler(event) {
                this.taskImage = event
            }
        }
    }
</script>

<style lang="scss" scoped>
.bordered-card{
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: none;
}
</style>